*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #444444;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#slider {
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#img__slider {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slides {
	display: none;
	height: 200px;
	width: 180px;
	background-color: white;
	font-size: 2rem;
	margin: 1rem;
}

.slides:nth-child(-n + 5) {
	display: block;
}

button {
	background-color: transparent;
	border: none;
}

i {
	font-size: 50px;
	color: white;
	margin: 30px;
}

i:hover {
	cursor: pointer;
}

#slider button:hover {
	transform: scale(1.1);
}

#slider button:active {
	transform: scale(0.9);
}

#box__balls {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes imagesAnimation {
	0% {
	}

	50% {
		transform: scale3d(5px);
		transform: scaLE(1.5);
	}

	100% {
	}
}

.images-animation {
	animation-name: imagesAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
}
